/* ==========================================================================
   #ADRESS LINE
   ========================================================================== */

.c-address-line {
  display: flex;

  & + & {
    margin-top: 5px;
  }
}

.c-address-line__icon {
  margin-right: 7px;
  align-self: center;
}

.c-address-line__val {
  flex: 1;
  text-align: center;
  color: $color-text;
}
