/* ==========================================================================
#ARTICLE
========================================================================== */

.c-article {
  @include clearfix;

  p {
    margin-bottom: 22px;
  }

  figure {
    margin: 0 20px 10px 0;
    float: left;

    img {
      border-radius: 2px;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    }
  }

  figcaption {
    margin-top: 5px;
    font-size: 1.2rem;
    color: $color-medium-grey;
  }

  blockquote {
    @include blockquote;
    text-align: center;
    margin: 30px auto;
    max-width: 90%;

    &:before,
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 66%;
      margin: 0 auto;
      background: $color-secondary;
    }

    &:before {
      margin-bottom: 10px;
    }

    &:after {
      margin-top: 15px;
    }
  }

  @include bp(md) {
    blockquote {
      max-width: 75%;
    }
  }
}

.c-article__meta {
  color: $color-medium-grey;
  margin-bottom: 10px;
}

.c-article__title {
  padding-bottom: 0;
  margin-bottom: 15px;
  border: 0;
}
