/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * This is an example component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */

$btn-height: 36px;

.c-btn {
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  font: inherit; /* [3] */
  text-align: center; /* [4] */
  margin: 0; /* [4] */
  cursor: pointer; /* [5] */
  min-width: 140px;
  min-height: $btn-height;
  padding: 7px 30px;
  font-weight: $font-weight-bold;
  transition: $global-transition;
  border-radius: $btn-height/2;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Style variants
   ========================================================================== */

.c-btn--primary {
  border: 1px solid $color-primary;
  background: linear-gradient($color-primary-light 0%, $color-primary 100%);

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none; /* [4] */
    color: $color-white;
  }

  &:hover,
  &:focus {
    background: linear-gradient($color-primary 0%, $color-primary-light 100%);
  }
}
