/* ==========================================================================
   #FOOTER
   ========================================================================== */

.c-footer {
  border-top: 1px solid $color-border;
  margin-top: 100px;
  padding-top: 36px;
  padding-bottom: 36px;

  @include bp(md) {
    display: flex;
    align-items: center;
  }
}

.c-footer__copyright {
  font-size: 1.2rem;
  color: $color-medium-grey;

  @include bp(md) {
    margin-right: auto;
  }
}

.c-footer__nav {
  list-style: none;
  margin: 20px 0;
  font-weight: $font-weight-bold;

  @include bp(md) {
    display: flex;
    margin: 0;
  }
}

.c-footer__nav-item {
  @include bp(md) {
    display: flex;

    &:before {
      content: '|';
      color: $color-primary;
      margin: 0 7px;
    }

    &:first-child:before {
      display: none;
    }
  }
}
