/* ==========================================================================
   #HEADER
   ========================================================================== */

$header-hamburger-size: 38px;
$header-hamburger-lines-trans: 0.3s;

.c-header {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-border;
  margin-bottom: 35px;
  padding-top: 18px;
  padding-bottom: 18px;
  background: $color-white;
  z-index: 100;

  @include bp(md) {
    padding-top: 38px;
    padding-bottom: 26px;
  }
}

.c-header__logo {
  display: block;
  width: 170px;
  height: 36px;
  margin-right: auto;
}

// Generate lines for line button
@mixin line($color, $button-size, $button-line-h, $transition) {
  display: block;
  width: $button-size;
  height: $button-line-h;
  background: $color;
  transition: $transition;
}

.c-header__hamburger {
  height: 29px;
  padding: 0;
  transition: $header-hamburger-lines-trans;
  cursor: pointer;
  user-select: none;
  border: 0;
  background: transparent;
  vertical-align: top;
  margin-left: auto;

  &:hover {
    opacity: 1;
  }

  &:active {
    transition: 0;
  }

  @include bp(md) {
    display: none;
  }
}

.c-header__hamburger-lines {
  position: relative;

  &,
  &:before,
  &:after {
    @include line(
      $color-dark-grey,
      $header-hamburger-size,
      4px,
      $header-hamburger-lines-trans
    );
  }

  &:before,
  &:after {
    position: absolute;
    left: 0;
    content: '';
    transform-origin: $header-hamburger-size/14 center;
  }

  &:before {
    top: 9px;
  }

  &:after {
    top: -9px;
  }

  .is-nav-open & {
    background-color: transparent;

    &:before,
    &:after {
      transform-origin: 50% 50%;
      top: 0;
      width: $header-hamburger-size;
      background: $color-dark-grey;
    }

    &:before {
      transform: rotate3d(0, 0, 1, 45deg);
    }

    &:after {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }
}
