/* ==========================================================================
   #IMAGE BOX
   ========================================================================== */

.c-image-box {
  display: block;

  &:hover {
    text-decoration: none;
  }
}

.c-image-box__picture {
  width: 100%;
}

.c-image-box__cont {
  padding: 10px 10px 20px;
  text-align: center;
  background: $color-fill;
}

.c-image-box__title {
  @include text-normal;
  text-align: left;
  color: $color-text;
}
