/* ==========================================================================
   #Links list
   ========================================================================== */

.c-links-list {
  list-style: none;
  margin: 0;
  font-weight: bold;

  li {
    margin-bottom: 2px;
  }

  a {
    position: relative;
    padding-left: 15px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      width: 9px;
      height: 12px;
      background: url('../assets/images/icon_arrow.svg');
      background-size: cover;
    }
  }
}
