.c-main-nav {
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  z-index: -1;
  padding: 20px;
  transform: translateY(-100%);
  transition: transform 200ms ease-in-out;
  will-change: transform;
  overflow-y: auto;
  font-weight: $font-weight-bold;
  background: $color-white;

  .is-nav-open & {
    transform: translateY(0);
  }

  @include bp(md) {
    position: static;
    z-index: 1;
    height: auto;
    padding: 0;
    background: transparent;
    transform: translateY(0);
    overflow: visible;
    margin-top: 23px;
    margin-left: auto;
    transition: none;
  }
}

.c-main-nav__list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;

  @include bp(md) {
    flex-direction: row;
    flex-wrap: none;
  }
}

.c-main-nav__item {
  margin: 0;

  @include bp(md) {
    &,
    &:last-child {
      margin-left: 42px;
    }
  }
}

.c-main-nav__link {
  display: block;
  padding: 15px 0;
  font-size: 1.8rem;
  color: $color-dark-grey;
  text-align: center;

  @include bp(md) {
    padding: 0;
    font-size: 1.4rem;
  }
}
