/* ==========================================================================
   #NUMBERED LIST
   ========================================================================== */

.c-numbered-list {
  margin-left: 0;
  list-style: none;
  counter-reset: my-awesome-counter;

  li {
    margin: 0 0 7px 0;
    counter-increment: my-awesome-counter;

    &:before {
      content: counter(my-awesome-counter) '.';
      margin-right: 4px;
      font-size: 2.4rem;
      font-weight: $font-weight-bold;
      color: $color-secondary;
    }
  }
}
