/* ==========================================================================
#SIDE BOX
========================================================================== */

.c-side-box {
  margin-top: 30px;
}

.c-side-box__title {
  @include text-lead;
  font-family: $font-second;
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-weight: $font-weight-normal;
  border-bottom: 1px solid $color-border;
}
