{% extends "layouts/base.twig" %}
{% set pageName = 'Article' %}
{% block
content %}
  <div class="o-row">

    <div class="o-col-md-8">

      <article class="c-article o-section">

        <time class="c-article__meta" datetime="2019-02-20T19:02:00">20.02.2019 | 19:02 Uhr</time>
        <h1 class="o-section__title c-article__title">Lorem Ipsum Headline</h1>
        <p>Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen. Erstens: wir haben nicht offensiv gespielt. Es gibt keine deutsche Mannschaft spielt offensiv und die Name offensiv wie Bayern.</p>

        <p>Letzte Spiel hatten wir in Platz drei Spitzen: Elber, Jancka und dann Zickler. Wir müssen nicht vergessen Zickler. Zickler ist eine Spitzen mehr, Mehmet eh mehr Basler. Ist klar diese Wörter, ist möglich verstehen, was ich hab gesagt? Danke.</p>

        <blockquote>„Ein Trainer ist nicht ein Idiot! Ein Trainer sei sehen was passieren in Platz.“ – Trapattoni ’98</blockquote>

        <p>Offensiv, offensiv ist wie machen wir in Platz. Zweitens: ich habe erklärt mit diese zwei Spieler: nach Dortmund brauchen vielleicht Halbzeit Pause. Ich habe auch andere Mannschaften gesehen in Europa nach diese Mittwoch. Ich habe gesehen auch zwei Tage die Training.</p>

        <figure>
          <img src="{{ assetPath('images/misc_article.jpg') }}" alt="">
          <figcaption>&copy; Lorempixel.com</figcaption>
        </figure>

        <p>Ich habe fertig! . . . wenn es gab Fragen, ich kann Worte wiederholen. . . Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen. Erstens: wir haben nicht offensiv gespielt. Es gibt keine deutsche Mannschaft spielt offensiv und die Name offensiv wie Bayern. Letzte Spiel hatten wir in Platz drei Spitzen: Elber, Jancka und dann Zickler. Wir müssen nicht vergessen Zickler. Zickler ist eine Spitzen mehr, Mehmet eh mehr Basler. Ist klar diese Wörter, ist möglich verstehen, was ich hab gesagt? Danke. Offensiv, offensiv ist wie machen wir in Platz. Zweitens: ich habe erklärt mit diese zwei Spieler: nach Dortmund brauchen vielleicht Halbzeit Pause. Ich habe auch andere Mannschaften gesehen in Europa nach diese Mittwoch.</p>

      </article>

      <section class="o-section">

        <h2 class="o-section__title">Formular</h2>

        <div class="o-row">
          <div class="o-col-12 o-col-md-offset-3 o-col-md-9 o-col-lg-offset-2">
            <p>
              Felder mit einem * sind Pflichtfelder.<br>
              <b class="u-color-primary">Fehlermeldung</b>
            </p>
          </div>
        </div>

        <form class="o-form js-form-submit" action="#">

          <div class="o-form__row o-row">

            <div class="o-col-12 o-col-md-3 o-col-lg-2">
              <label class="o-form__label" for="name">Name*</label>
            </div>
            <div class="o-col-12 o-col-md-8 js-form-field-cont">
              <input id="name" class="o-form__input" type="text" name="name" data-required data-type="letters" title="Letters only">
            </div>

          </div>

          <div class="o-form__row o-row">

            <div class="o-col-12 o-col-md-3 o-col-lg-2">
              <label class="o-form__label" for="email">E-Mail*</label>
            </div>
            <div class="o-col-12 o-col-md-8 js-form-field-cont">
              <input id="email" class="o-form__input" type="text" name="email" data-required data-type="email">
            </div>

          </div>
          <div class="o-form__row o-row">

            <div class="o-col-12 o-col-md-3 o-col-lg-2">
              <label class="o-form__label" for="phone">Telefon</label>
            </div>
            <div class="o-col-12 o-col-md-8 js-form-field-cont">
              <input id="phone" class="o-form__input" type="text" name="phone" data-type="number">
            </div>

          </div>
          <div class="o-form__row o-row">

            <div class="o-col-12 o-col-md-3 o-col-lg-2">
              <label class="o-form__label" for="comment">Kommentar</label>
            </div>
            <div class="o-col-12 o-col-md-8 js-form-field-cont">
              <textarea id="comment" class="o-form__input" rows="5" name="comment" maxlength="500"></textarea>
            </div>

          </div>

          <div class="o-form__row o-form__row--submit o-row">

            <div class="o-col-12 o-col-md-11 o-col-lg-10">
              <button class=" c-btn c-btn--primary" type="submit">Label</button>
            </div>

          </div>

        </form>

      </section>

      <section class="o-section">

        <h2 class="o-section__title">Leistungsumfang</h2>

        <div class="o-row">

          <div class="o-col-12 o-col-sm-6">

            <ol class="c-numbered-list">
              <li>Lorem Ipsum Dolor Sit</li>
              <li>Li Europan lingues es membres</li>
              <li>In enim justo, rhoncus ut</li>
              <li>Nam quam nunc, blandit vel</li>
            </ol>

          </div>

          <div class="o-col-12 o-col-sm-6">
            <strong>Exozet Berlin GmbH</strong><br>
            Mitarbeiter:
            <b>150</b><br>
            Groups:
            <b>Games, Interact, Effects</b><br>
            Gründung:
            <b>1996</b>
          </div>

        </div>

      </section>

    </div>
    <!-- END MAIN COL -->

    <aside class="o-col-md-4 o-col-lg-offset-1 o-col-lg-3">

      <div class="c-side-box">

        <h3 class="c-side-box__title">Interne Linkliste</h3>

        <ul class="c-links-list">
          <li class="c-links-list__item">
            <a href="#">Link Nummer 1</a>
          </li>
          <li class="c-links-list__item">
            <a href="#">Link Nummer 2</a>
          </li>
          <li class="c-links-list__item">
            <a href="#">Link Nummer 3</a>
          </li>
        </ul>

      </div>

      <div class="c-side-box">

        <h3 class="c-side-box__title">Kontakt</h3>

        <p>
          <strong>Exozet Berlin GmbH</strong><br>
          Platz der Luftbrücke 4-6<br>
          12101 Berlin
        </p>

        <div class="c-address-line">
          <img class="c-address-line__icon" src="{{ assetPath('images/icon_phone.svg') }}" width="18" alt="Icon phone">
          Tel.:
          <span class="c-address-line__val">+49 (0)30 24 65 60 - 0</span>
        </div>

        <div class="c-address-line">
          <img class="c-address-line__icon" src="{{ assetPath('images/icon_mail.svg') }}" width="18" height="14" alt="Icon mail">
          E-Mail:
          <a class="c-address-line__val" href="mailto:info@exozet.com">info@exozet.com</a>
        </div>
      </div>

      <div class="c-side-box">

        <h3 class="c-side-box__title">Image Teaser</h3>

        <a class="c-image-box" href="#">

          <img class="c-image-box__picture" src="{{ assetPath('images/misc_teaser.jpg') }}" alt="Teaser picture">

          <div class="c-image-box__cont">
            <h4 class="c-image-box__title">Es gibt im Moment in diese Mannschaft, oh einige Spieler!
            </h4>

            <div class="c-btn c-btn--primary">Mehr lesen</div>
          </div>

        </a>

      </div>

    </aside>
    <!-- END SIDEBAR COL -->

  </div>
{% endblock %}
