/* ==========================================================================
   #FORM
   ========================================================================== */

input[type='text'],
input[type='email'] {
  height: 35px;
}

textarea {
  resize: vertical;
}
