/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 */

html {
  background: $color-bg;
  color: $color-text;
  font-family: $font-main;
  font-size: 62.5%; /* [1] */
  line-height: 1.43; /* [1] */
  min-height: 100%; /* [3] */
  overflow-y: scroll; /* [2] */
  padding: 0 $gutter;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 1.4rem;
}

::selection {
  background: $color-secondary;
  color: $color-white;
}

::-moz-selection {
  background: $color-secondary;
  color: $color-white;
}
