/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    color: $color-hover;
    text-decoration: underline;
  }
}
