/* ==========================================================================
   #FORM
   ========================================================================== */

.o-form__row {
  @include bp(md) {
    margin-bottom: 10px;
  }
}

.o-form__row--submit {
  margin-top: 15px;
  margin-bottom: 0;
  text-align: right;
}

.o-form__label {
  display: block;
  padding: 10px 0 5px;
  font-size: 1.3rem;
  font-weight: $font-weight-bold;
  cursor: pointer;

  @include bp(md) {
    text-align: right;
  }
}

.o-form__input {
  width: 100%;
  padding: 10px 15px;
  color: $color-text;
  border: 1px solid $color-light-grey;
  border-radius: 5px;
  box-shadow: inset 1px 1px 2px rgba(146, 109, 109, 0.2);
  background: $color-white;
  outline-color: $color-secondary;

  &.has-error {
    border-color: $color-red;
  }
}

.o-form__note {
  margin-top: 5px;
  font-size: 1.2rem;

  &.is-error {
    color: $color-red;
  }
}
