/* ==========================================================================
   #GRID
   ========================================================================== */

.o-row {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -$grid-gutter;
  margin-left: -$grid-gutter;

  > [class^='o-col'],
  > [class*=' o-col'] {
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
  }
}

.o-row--reverse {
  flex-direction: row-reverse;
}

.o-col--reverse {
  flex-direction: column-reverse;
}

.o-row--equal {
  > [class^='o-col'],
  > [class*=' o-col'] {
    display: flex;

    > *:not(.o-row) {
      width: 100%;
    }
  }
}

.o-row--col-margin {
  margin-bottom: -$gutter;

  > [class^='o-col'],
  > [class*=' o-col'] {
    margin-bottom: $gutter;
  }
}

.o-row--no-gutters {
  margin-right: 0;
  margin-left: 0;

  > [class^='o-col'],
  > [class*=' o-col'] {
    padding-right: 0;
    padding-left: 0;
  }
}

.o-col,
.o-col-1,
.o-col-2,
.o-col-3,
.o-col-4,
.o-col-5,
.o-col-6,
.o-col-7,
.o-col-8,
.o-col-9,
.o-col-10,
.o-col-11,
.o-col-12,
.o-col-offset-1,
.o-col-offset-2,
.o-col-offset-3,
.o-col-offset-4,
.o-col-offset-5,
.o-col-offset-6,
.o-col-offset-7,
.o-col-offset-8,
.o-col-offset-9,
.o-col-offset-10,
.o-col-offset-11,
.o-col-offset-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
}

.o-col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.o-col-1 {
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.o-col-2 {
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.o-col-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.o-col-4 {
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.o-col-5 {
  flex-basis: 41.667%;
  max-width: 41.667%;
}

.o-col-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.o-col-7 {
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.o-col-8 {
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.o-col-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.o-col-10 {
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.o-col-11 {
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.o-col-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.o-col-offset-1 {
  margin-left: 8.333%;
}

.o-col-offset-2 {
  margin-left: 16.667%;
}

.o-col-offset-3 {
  margin-left: 25%;
}

.o-col-offset-4 {
  margin-left: 33.333%;
}

.o-col-offset-5 {
  margin-left: 41.667%;
}

.o-col-offset-6 {
  margin-left: 50%;
}

.o-col-offset-7 {
  margin-left: 58.333%;
}

.o-col-offset-8 {
  margin-left: 66.667%;
}

.o-col-offset-9 {
  margin-left: 75%;
}

.o-col-offset-10 {
  margin-left: 83.333%;
}

.o-col-offset-11 {
  margin-left: 91.667%;
}

.o-row--start {
  justify-content: flex-start;
  text-align: start;
}

.o-row--center {
  justify-content: center;
}

.o-row--end {
  justify-content: flex-end;
  text-align: end;
}

.o-row--top {
  align-items: flex-start;
}

.o-row--middle {
  align-items: center;
}

.o-row--bottom {
  align-items: flex-end;
}

.o-row--around {
  justify-content: space-around;
}

.o-row--between {
  justify-content: space-between;
}

.o-col--first {
  order: -1;
}

.o-col--last {
  order: 1;
}

@each $breakpoint in $breakpoints-list {
  @include bp($breakpoint) {
    .o-col-#{$breakpoint},
    .o-col-#{$breakpoint}-1,
    .o-col-#{$breakpoint}-2,
    .o-col-#{$breakpoint}-3,
    .o-col-#{$breakpoint}-4,
    .o-col-#{$breakpoint}-5,
    .o-col-#{$breakpoint}-6,
    .o-col-#{$breakpoint}-7,
    .o-col-#{$breakpoint}-8,
    .o-col-#{$breakpoint}-9,
    .o-col-#{$breakpoint}-10,
    .o-col-#{$breakpoint}-11,
    .o-col-#{$breakpoint}-12,
    .o-col-#{$breakpoint}-offset-1,
    .o-col-#{$breakpoint}-offset-2,
    .o-col-#{$breakpoint}-offset-3,
    .o-col-#{$breakpoint}-offset-4,
    .o-col-#{$breakpoint}-offset-5,
    .o-col-#{$breakpoint}-offset-6,
    .o-col-#{$breakpoint}-offset-7,
    .o-col-#{$breakpoint}-offset-8,
    .o-col-#{$breakpoint}-offset-9,
    .o-col-#{$breakpoint}-offset-10,
    .o-col-#{$breakpoint}-offset-11,
    .o-col-#{$breakpoint}-offset-12 {
      box-sizing: border-box;
      flex: 0 0 auto;
    }

    .o-col\@#{$breakpoint} {
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
    }

    .o-col-#{$breakpoint}-1 {
      flex-basis: 8.333%;
      max-width: 8.333%;
    }

    .o-col-#{$breakpoint}-2 {
      flex-basis: 16.667%;
      max-width: 16.667%;
    }

    .o-col-#{$breakpoint}-3 {
      flex-basis: 25%;
      max-width: 25%;
    }

    .o-col-#{$breakpoint}-4 {
      flex-basis: 33.333%;
      max-width: 33.333%;
    }

    .o-col-#{$breakpoint}-5 {
      flex-basis: 41.667%;
      max-width: 41.667%;
    }

    .o-col-#{$breakpoint}-6 {
      flex-basis: 50%;
      max-width: 50%;
    }

    .o-col-#{$breakpoint}-7 {
      flex-basis: 58.333%;
      max-width: 58.333%;
    }

    .o-col-#{$breakpoint}-8 {
      flex-basis: 66.667%;
      max-width: 66.667%;
    }

    .o-col-#{$breakpoint}-9 {
      flex-basis: 75%;
      max-width: 75%;
    }

    .o-col-#{$breakpoint}-10 {
      flex-basis: 83.333%;
      max-width: 83.333%;
    }

    .o-col-#{$breakpoint}-11 {
      flex-basis: 91.667%;
      max-width: 91.667%;
    }

    .o-col-#{$breakpoint}-12 {
      flex-basis: 100%;
      max-width: 100%;
    }

    .o-col-#{$breakpoint}-offset-0 {
      margin-left: 0;
    }

    .o-col-#{$breakpoint}-offset-1 {
      margin-left: 8.333%;
    }

    .o-col-#{$breakpoint}-offset-2 {
      margin-left: 16.667%;
    }

    .o-col-#{$breakpoint}-offset-3 {
      margin-left: 25%;
    }

    .o-col-#{$breakpoint}-offset-4 {
      margin-left: 33.333%;
    }

    .o-col-#{$breakpoint}-offset-5 {
      margin-left: 41.667%;
    }

    .o-col-#{$breakpoint}-offset-6 {
      margin-left: 50%;
    }

    .o-col-#{$breakpoint}-offset-7 {
      margin-left: 58.333%;
    }

    .o-col-#{$breakpoint}-offset-8 {
      margin-left: 66.667%;
    }

    .o-col-#{$breakpoint}-offset-9 {
      margin-left: 75%;
    }

    .o-col-#{$breakpoint}-offset-10 {
      margin-left: 83.333%;
    }

    .o-col-#{$breakpoint}-offset-11 {
      margin-left: 91.667%;
    }

    .o-row--start\@#{$breakpoint} {
      justify-content: flex-start;
      text-align: start;
    }

    .o-row--center\@#{$breakpoint} {
      justify-content: center;
    }

    .o-row--end\@#{$breakpoint} {
      justify-content: flex-end;
      text-align: end;
    }

    .o-row--top\@#{$breakpoint} {
      align-items: flex-start;
    }

    .o-row--middle\@#{$breakpoint} {
      align-items: center;
    }

    .o-row--bottom\@#{$breakpoint} {
      align-items: flex-end;
    }

    .o-row--around\@#{$breakpoint} {
      justify-content: space-around;
    }

    .o-row--between\@#{$breakpoint} {
      justify-content: space-between;
    }

    .o-col--first\@#{$breakpoint} {
      order: -1;
    }

    .o-col--last\@#{$breakpoint} {
      order: 1;
    }
  }
}
