/* ==========================================================================
#SECTION
========================================================================== */

.o-section {
  & + & {
    margin-top: 50px;
  }
}

.o-section__title {
  @include heading;
  font-size: 3rem;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid $color-border;
}
