<footer class="o-wrapper c-footer">
  <div class="c-footer__copyright">&copy; exozet {{"now"|date('Y')}}</div>

  <ul class="c-footer__nav">
    <li class="c-footer__nav-item">
      <a href="#">News</a>
    </li>

    <li class="c-footer__nav-item">
      <a href="#">Kontakt</a>
    </li>

    <li class="c-footer__nav-item">
      <a href="#">Impressum</a>
    </li>
  </ul>
</footer>
