<header id="header" class="o-wrapper c-header">
  <a class="c-header__logo" href="/" rel="home">
    <img
      src="{{ assetPath('images/logo_exozet_colored.svg') }}"
      alt="Exozet logo"
    />
    <span class="u-hidden-visually">Exozet</span>
  </a>

  <button
    class="c-header__hamburger js-toggle"
    data-target="#header"
    data-class="is-nav-open"
    type="button"
  >
    <span class="c-header__hamburger-lines"></span>
  </button>

  {% include 'components/main-nav.twig' %}
</header>
