<nav class="c-main-nav">
  <ul class="c-main-nav__list">
    <li class="c-main-nav__item">
      <a class="c-main-nav__link" href="#">News</a>
    </li>

    <li class="c-main-nav__item">
      <a class="c-main-nav__link" href="#">Kontakt</a>
    </li>

    <li class="c-main-nav__item">
      <a class="c-main-nav__link" href="#">Impressum</a>
    </li>
  </ul>
</nav>
