<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <title>{{ pageName }} - Frontend Challenge Exozet</title>
    <link
      rel="stylesheet"
      property="stylesheet"
      href="{{ revisionedPath('styles/main.css') }}"
      type="text/css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
      document.documentElement.classList.remove('no-js');
    </script>
    {% if hasVendor() %}
    <script src="{{ revisionedPath('scripts/vendor.js') }}" defer></script>
    {% endif %} {% if hasWebpackManifest() %}
    <script>
      (function() {
        var p = '{{ getScriptsPath() }}';
        var wm = window.webpackManifest = {{ getWebpackManifest() }};
        Object.keys(wm).forEach(function(n){wm[n]=p+wm[n]});
      })();
    </script>
    {% endif %}
    <script src="{{ revisionedPath('scripts/app.bundle.js') }}" defer></script>

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Ubuntu:300,400,700&display=swap"
      rel="stylesheet"
    />

    {% block head %} {% endblock %}
  </head>

  <body class="{{ body_class }}">
    {% block header %} {% include 'components/header.twig' %} {% endblock %}

    <main class="o-wrapper">
      {% block content %} Sorry, no content {% endblock %}
    </main>

    {% block footer %} {% include 'components/footer.twig' %} {% endblock %}
  </body>
</html>
