///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$global-radius: 0 !default;
$global-transition: all 300ms ease-in-out !default;

/* Fonts
   ========================================================================== */

$font-main: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif !default;
$font-second: 'Ubuntu', 'Helvetica Neue', 'Arial', sans-serif !default;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

/* Breakpoints
   ========================================================================== */

$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xlg: 1280px,
  full: 1600px
);

$breakpoints-list: ('sm', 'md', 'lg', 'xlg', 'full');

/* Grid
========================================================================== */
$gutter: 20px;
$grid-gutter: $gutter/2;

/* Colors
   ========================================================================== */

// Colors shouldn't be used directly but reassigned
$color-white: #fff;
$color-black: #000;
$color-very-light-grey: #f3f3f3;
$color-light-grey: #dcdcdc;
$color-medium-grey: #848484;
$color-dark-grey: #434346;

$color-red: #ff0000;

$color-primary: #ed174d;
$color-primary-light: #ff5a83;
$color-secondary: #39c2d7;

// Text
$color-bg: $color-white;
$color-text: $color-dark-grey;

// Links
$color-link: $color-primary;
$color-hover: $color-primary;

// Borders
$color-border: $color-light-grey;

// Fills
$color-fill: $color-very-light-grey;
