///* ========================================================================
//   #TYPOGRAPHY
//   ======================================================================== */

@mixin heading {
  font-family: $font-second;
  font-weight: $font-weight-bold;
}

@mixin text-lead {
  font-size: 1.6rem;
  font-weight: $font-weight-normal;
}

@mixin text-normal {
  font-size: 1.4rem;
  font-weight: $font-weight-normal;
}

@mixin blockquote {
  font-family: $font-second;
  font-size: 1.8rem;
  font-weight: $font-weight-light;
  line-height: 1.33;
}
